{% if players is defined and players|length > 0 %}
    <div class="players mt-15">
        {% for player in players %}
            <div class="float-left mt-1 width-100">
                <div class="float-left">
                    <a href="" class="classic uc-words">
                        {{ player }}
                    </a>
                </div>
                {% if player.trigram %}
                    <div class="float-right font-bold">
                        <a href="" class="classic uc-words">
                            {{ player.trigram }}
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}