{% if form_password is defined %}
    <div class="content-block">
        <h3 class="mb-3">{{ 'user.change_password'|trans }}</h3>
        {% include(template_dir ~ 'component/form/model.html.twig') with {form_model: form_password} only %}
    </div>
{% endif %}

